.container-orders {
  background-color: white;
}

.cards-orders {
  align-items: center;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: flex-start;
  padding: 30px;
  text-align: center;
}
