.form-register {
  background-color: #e5e5e5;
  border: auto;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem;
  text-align: center;
  width: 200px;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}

.register-label {
  width: 80%;
}

p {
  color: black;
  margin: 0;
  padding-left: 1rem;
}

input {
  border: 1px solid black;
  border-radius: 3px;
  margin: 5px;
  padding: 10px;
}

.btn-login {
  border: 1px solid black;
  border-radius: 7px;
  color: white;
  margin: 5px;
  padding: 10px;
}

.disabled {
  background-color: rgb(84, 121, 121);
  color: rgb(201, 224, 224);
}

.notDisabled {
  background-color: rgb(6, 131, 93);
}

.btn-register {
  background-color: transparent;
  border: 1px solid rgb(6, 131, 93);
  border-radius: 7px;
  color: rgb(6, 131, 93);
  margin: 5px;
  padding: 10px;
}

