.order-card-customer-container-button {
  background-color: white;
  box-shadow: inset 0 0 1em gray;
  margin: 1rem;
  min-height: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}

.order-card-customer-pedido {
  font-weight: 700;
}

.order-card-customer-pedido p {
  font-weight: 200;
  padding-left: 0;
}

.p-status {
  background-color: rgb(197, 184, 3);
  line-height: 2rem;
  width: 100%;
}

.order-card-customer-dataTotal {
  padding-top: 0.7rem;
}

.order-card-customer-total {
  color: rgb(212, 21, 21);
  font-size: 0.9rem;
  font-weight: 200;
  padding: 0.2rem;
}

.entregue {
  background-color: rgb(0, 195, 255);
}

.preparando {
  background-color: rgb(0, 255, 85);
}

